<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>class</key>
	<string>evaluate-mechanisms</string>
	<key>created</key>
	<real>700126546.740796</real>
	<key>mechanisms</key>
	<array>
		<string>NameAndPassword:invoke</string>
		<string>builtin:reset-password,privileged</string>
		<string>builtin:authenticate,privileged</string>
		<string>OETHAgent:DataProcess</string>
	</array>
	<key>modified</key>
	<real>700126546.740796</real>
	<key>shared</key>
	<true/>
	<key>tries</key>
	<integer>10000</integer>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
